@use "./../../../assets/Style/variables.scss";

p{
    text-align: center;
    background-color: variables.$color-principal-800;
    color: white;
}

.footer{

    border-radius: 1px;
    border-color: white;
}