<div class="Logo-container">

<img id="logo-full"  src="./../../../assets/Img/Logos/LogoConvertor-Letters.svg" alt="Full-logo">

</div>
<div class="Welcome-container">

    <h1 id="Welcome-h1">
        Welcome to The Ultimate Currency Convertor
    </h1>
   

    <div class="H3-container">

        <h3 id="Welcome-h3">
            Lets get started!!
        </h3>
        
    </div>
    <div class="Button-container">
        <button class="Button-class"  (click)="navigateToSignUpPage()">
            Sign Up
        </button>
        <button class="Button-class"   (click)="navigateToLoginPage()">
            Login
        </button>
    </div>
    

</div>
